body{
    background-color:rgb(207, 103, 255);
}

header{
    background-color: rgba(252, 74, 240, 0.553);
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-style: oblique;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(155, 248, 139, 0.69);
}

.name{
    font-size: 28px;
    font-family: monospace;
    font-style: oblique;
    font-weight: 900;
    display: flex;
    justify-content: center;
}

.intro{
    font-size: 18px;
    font-family: monospace;
    display: flex;
    justify-content: center;
}

.pfp{ 
    width: 250px;
    display: flex;
    margin: auto;
}

.list{
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-content: center;
    margin-bottom: 25px;
}

.like{
    font-size: 22px;
    font-family: monospace;
    font-style: oblique;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.likeList{
    font-size: 18px;
    font-family: monospace;
    display: flex;
    justify-content: center;
}

table{
    display: flex;
    justify-content: center;
}

.banner{
    max-width:500px;
    display: flex;
    justify-content: center;
}

footer{
    text-align: center;
    font-size: 20px;
    font-family: monospace;
    background-color: rgba(155, 248, 139, 0.69);
}

.valeria{
    width:25px;
    background-color: rgb(255, 0, 234);
}

.talena{
    width:25px;
    background-color: rgb(0, 0, 255);
}

.rebeca{
    width:25px;
    background-color: rgb(0, 196, 16);
}

.github{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:15px;
    font-family: monospace;
    font-weight: 900;
}