body{
    background-color:rgba(198, 55, 255, 0.57);    
}

header{
    background-color: aliceblue;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(155, 248, 139, 0.69);
}

.name{
    font-size: 28px;
    font-family: monospace;
    font-style: oblique;
    font-weight: 900;
}

.intro{
    font-size: 18px;
    font-family: monospace;
    display: flex;
    justify-content: center;
}

.pfp{ 
    max-width: 250px;
    background-color: rgb(212, 255, 192);
    display: flex;
    justify-content: center;
}

.like{
    font-size: 22px;
    font-family: monospace;
    font-style: oblique;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
}

.likeList{
    font-size: 18px;
    font-family: monospace;
    display: flex;
    justify-content: center;
}

.banner{
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

