body{
    background-color:rgb(244, 250, 255);
}

header{
    background-color: aliceblue;
}

h1{
    display:flex;
    justify-content: center;
    font-size: 60px;
}

h2{
    display:flex;
    justify-content: center;
    font-size: 30px;
}

.allCards{
    display: flex;
    flex-flow: wrap-row;
    justify-content: center;
}

footer{
    text-align: center;
}